Django==5.0.4
djangorestframework==3.15.1
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.1
google-generativeai==0.7.2
langchain==0.2.6
langchain-community==0.2.6
langchain-google-genai==1.0.7
faiss-cpu==1.8.0
sentence-transformers==3.0.1
channels==4.1.0
daphne==4.1.2
reportlab==4.2.2
pypdf==4.3.1
Pillow==10.4.0
python-dotenv==1.0.1
requests==2.32.3
celery==5.4.0
redis==5.0.7
pytest-django==4.8.0
factory-boy==3.3.0
